.text-center {
  text-align: center; }

.text-red {
  color: red; }

.user-avatar {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  margin-right: 5px; }

.select-action {
  width: 150px;
  margin: 0 10px; }
